images/*
.DS_Store
src/.ipynb_checkpoints/simpleAssignment-checkpoint.ipynb
src/.ipynb_checkpoints/functions-checkpoint.ipynb
src/.ipynb_checkpoints/simpleAssignment-checkpoint.ipynb
src/.ipynb_checkpoints/toy_svm-checkpoint.ipynb
